<article class="flex flex-col gap-2">

	<header class="flex items-center justify-between">
		<aside class="block leading-tight">
			<h2 class="font-bold tracking-wide">
				Exchange rate now
			</h2>
			<span class="text-xs">
				{{ lastUpdatedAt | date: 'dd/MM/YYYY' }} - {{ lastUpdatedAt | date: 'HH' }}h{{ lastUpdatedAt | date: 'mm' }}
			</span>
		</aside>
		<aside>
			<strong class="text-primary text-2xl font-bold tracking-wide">
				{{ fromSymbol }}/{{ toSymbol }}
			</strong>
		</aside>
	</header>

	<section class="bg-primary bg-opacity-10 text-primary p-6 rounded-sm">
		<p class="text-center font-bold text-3xl tracking-wide">
			{{ exchangeRate | currency : currencySymbol : 'symbol' : undefined : 'pt-BR' }}
		</p>
	</section>

</article>
