<main class="flex-auto flex flex-col">

	<form class="flex flex-col gap-4" (ngSubmit)="fetchResult()">

		<mat-form-field
			[appearance]="'fill'">
			<mat-label>Enter the currency code</mat-label>
			<input
				matInput
				type="text"
				[formControl]="currencyCodeControl">
		</mat-form-field>

		<button
			mat-raised-button
			type="submit"
			[color]="'primary'"
			class="uppercase font-normal text-lg"
			[disabled]="currencyCodeControl.invalid"
			(click)="fetchResult()">
			Exchange result
		</button>

	</form>

	<section class="flex flex-col">

		<hr class="flex-auto my-8">

		<app-main-current-exchange-rate></app-main-current-exchange-rate>

	</section>

</main>
