<main class="flex-auto flex flex-col pb-12 max-w-lg bg-white mx-auto sm:p-6 sm:shadow-lg sm:border sm:rounded-lg">

	<form class="flex flex-col gap-4" (ngSubmit)="fetchResult()">

		<mat-form-field
			[appearance]="'fill'">
			<mat-label>Enter the currency code</mat-label>
			<input
				matInput
				type="text"
				[formControl]="currencyCodeControl">
		</mat-form-field>

		<button
			mat-raised-button
			type="submit"
			[color]="'primary'"
			class="uppercase font-normal text-lg"
			[disabled]="currencyCodeControl.invalid"
			(click)="fetchResult()">
			Exchange result
		</button>

	</form>

	<section class="flex flex-col" *ngIf="currentExchangeRate$ | async as currentExchangeRate">

		<hr class="flex-auto my-8">

		<div class="flex flex-col gap-4">

			<app-main-current-exchange-rate
				[fromSymbol]="currentExchangeRate.fromSymbol"
				[toSymbol]="currentExchangeRate.toSymbol"
				[exchangeRate]="currentExchangeRate.exchangeRate"
				[lastUpdatedAt]="currentExchangeRate.lastUpdatedAt"></app-main-current-exchange-rate>

			<app-main-daily-exchange-rate
				*ngIf="dailyExchangeRate$ | async as dailyExchangeRate"
				[numberOfDays]="30"
				[fromSymbol]="currentExchangeRate.fromSymbol"
				[dailyExchangeRates]="dailyExchangeRate.data"
				(onLoadDailyExchangeRates)="fetchDailyResults()"></app-main-daily-exchange-rate>

		</div>

	</section>

</main>
